<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Quiz Page</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="new"> New Quiz</div>
    <form action="/new-quiz" method="POST">
        <div class="name"> Chapter Name:
            <input type="text">
        </div>
        <div class="descquiz"  > Duration:
            <input class="bigbox" type="time">
        </div>
        <center>
        <button class="save">Save</button>
        <button class="cancel">Cancel </button>
        </center>
    </form>
</body>
</html>