<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Quiz Scores</title>
</head>
<body>
    <!-- top-navbar -->
    <div class="bordertime">
        <div class="button-container">
            <button class="nav-button">Home |</button>
            <button class="nav-button">Quiz |</button>
            <button class="nav-button">Summary |</button>
            <button class="nav-button">Logout</button>
            <input class="search" type="search" placeholder="Search">
                <button class="searching"><search>Search</search></button>
            </input>
            <h4 class="text">Welcome User</h4>
        </div>
        <div class="topuser">Quiz Scores

        <table> 
            <thead>  
              <tr>
                <th>ID </th>
                <th>No. of Questions </th>
                <th>Date </th>
                <th>Score </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>05</td>
                <td><input type="date"></td>                
                <td>3/5</td>
              </tr>
              <tr>
                <td>2</td>
                <td>15</td>
                <td><input type="date"></td>                
                <td>12/15</td>
              </tr>
              
            </tbody>
          </table>
</body>
</html>