<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Quiz Interface</title>

</head>
<body>

    <h2>Start the Quiz</h2>

    <div class="quiz-container">
        <div class="question-number">QNo. <span>3/15</span></div>
        <div class="timer">00:13:52</div>
        <br><br>
        <div class="question-box">
            <h3>.....Question Statement.....</h3>
        </div>
        <div class="options">
            <label><input type="radio" name="option"> Option 1</label><br>
            <label><input type="radio" name="option"> Option 2</label><br>
            <label><input type="radio" name="option"> Option 3</label><br>
            <label><input type="radio" name="option"> Option 4</label><br>
        </div>
        <div class="buttons">
            <button class="btn save1">Save and Next</button>
            <button class="btn submit">Submit</button>
        </div>
    </div>

</body>
</html>
