<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Quiz Management</title>
</head>
<body>
    <header class="header">
        Quiz Management
        </header>
      
        <!-- top-navbar -->
      <div class="bordertime">
          <div class="button-container">
            <a href="/admin_dash"><button class="nav-button">Home |</button></a>
            <button class="nav-button">Quiz |</button>
            <button class="nav-button">Summary |</button>
            <a href="/login"><button class="nav-button">Logout</button></a>
            <input class="search" type="search" placeholder="Search">
                <button class="searching"><search>Search</search></button>
            </input>
              <h4 class="text">Welcome {{name}}</h4>
          </div>
      
      
      
      
          <!-- <div class="container">
            <div class="table-container">
                <center><h2>Quiz 1(Physics)</h2></center>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Question Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>XXXXXX</td>
                            <td>
                                <button class="edit-delete-button">Edit</button>/
                                <button class="edit-delete-button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>XXXXXX</td>
                            <td>
                                <button class="edit-delete-button">Edit</button>/
                                <button class="edit-delete-button">Delete</button>
                            </td>
                        </tr>
                        <tr class="button-row">
                            <td colspan="3">
                                <button class = "add-chapter-button">+ Question</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
             <!-- <div class="table-container">
                <center><h2>Quiz 2(App Dev-I)</h2></center>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Question Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>XXXXXX</td>
                            <td>
                                <button class="edit-delete-button">Edit</button>/
                                <button class="edit-delete-button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>XXXXXX</td>
                            <td>
                                <button class="edit-delete-button">Edit</button>/
                                <button class="edit-delete-button">Delete</button>
                            </td>
                        </tr>
                        <tr class="button-row">
                            <td colspan="3">
                                <a href="quiz-ques">
                                    <button class = "add-chapter-button">+ Question</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
        
        <center>
            <a href="/new-quiz">
                <button type="button" class="adding-button">+Add New Quiz</button>
            </a>
        </center>

      </div>
      
</body>
</html>