<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Quiz View</title>
    
</head>
<body1>

    <div class="quiz-box">
        <h3>View the Quiz</h3>
        <p>ID: <input type="text"  ></p>
        <p>Subject: <input type="text" placeholder="eg:-Mathematics"></p>
        <p>Chapter: <input type="text" placeholder="Random Variables"></p>
        <p>Number of Questions: <input type="text" ></p>
        <p>Scheduled Date: <input type="date" "></p>
        <p>Duration (hh:mm): <input type="time"></p>
        <button>Close</button>
    </div>

</body1>
</html>
